.button {
  height: 44px;
  width: 44px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  background: var(--color-button);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 8px auto 0 auto;
  transition: 200ms ease all;
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    background: var(--color-button-hover);
  }

  svg {
    flex-shrink: 0;
  }

  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
