.pill {
  font-family: 'Mono';
  font-size: 8px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  padding: 0 12px 0 12px;
  border-radius: 30px;
  border: 1px solid var(--color-border);
  margin-left: 24px;
}

.left {
  padding-top: 2px;
  flex-shrink: 0;
}

.right {
  min-width: 10%;
  width: 100%;
  padding-left: 8px;
}
